:root {
  --primary-font-family: 'Roboto', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;
  --primary-text-color-theme-light: #212121;
  --secondary-text-color-theme-light: #757575;
  --text-and-background-color: #ffffff;
  --accent-collor: #2196f3;
  --icon-color: #afb1b8;
  --background-icon-color: #f5f4fa;
}

body {
  font-family: var(--primary-font-family);
  background: var(--text-and-background-color);
  color: var(--primary-text-color-theme-light);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* ШАПКА САЙТА*/

.logo {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-collor);
}

.logo-studio {
  color: #000000;
}

.footer-logo {
  color: var(--text-and-background-color);
}
.header {
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
}
.header-border {
  border-bottom: 1px solid #ececec;
}
.logo {
  margin-right: 93px;
}
.page-nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.nav-list > .nav-list-item {
  margin-right: 50px;
}
.nav-list-item:last-child {
  margin: 0;
}
.navigation-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--sprimary-text-color-theme-light);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.navigation-contakt-list:hover,
.navigation-contakt-list:focus {
 color: var(--accent-collor);
}

.nav-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color-theme-light);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--accent-collor);
}
.active-page {
  color: var(--accent-collor);
}

/* SVG */
.social-net-item {
  margin-right: 10px;
  fill: currentColor;
}

/* КОНЕЦ СЕКЦИИ ШАПКИ САЙТА, НАЧАЛО СЕКЦИИ ГЕРОЙ */

.hero {
  background: #2f303a;
}
.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-and-background-color);
}

.modal-btn {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-style: none;
  border-radius: 4px;
  color: var(--text-and-background-color);
  background: var(--accent-collor);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #188ce8;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.title {
  margin-bottom: 30px;
}
.modal-btn {
  padding: 10px 32px 10px 32px;
}
.hero-gradient {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/header/header.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* КОНЕЦ СЕКЦИИ ГЕРОЙ, НАЧАЛО СЕКЦИИ ЧЕМ МЫ ЗАНИМАЕМСЯ*/

.caption {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-light);
}

.section-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.section-work {
  padding-top: 94px;
  padding-bottom: 94px;
}
.text-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}

.text-list > .list-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-right: 30px;
}
.text-list > .list-item:last-child {
  margin: 0;
}
.caption {
  margin-bottom: 10px;
}
/* фотограии */

.text-item {
  padding-bottom: 94px;
}
.section-heading {
  text-align: center;
  margin-bottom: 50px;
}
.section-page {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}
.section-page > .section-img {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
}

.section-page > .section-img:last-child {
  margin: 0;
}

.icon-section {
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: var(--background-icon-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* КОНЕЦ СЕКЦИИ ЧЕМ МЫ ЗАНИМАЕМСЯ, НАЧАЛО СЕКЦИИ НАША КОМАНДА  */

.profession {
  background: var(--background-icon-color);
  margin-left: auto;
  margin-right: auto;
}
.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.employee {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.employee-profession {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-light);
}
.profession {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.team-section {
  display: flex;
  align-items: center;
  margin-right: -30px;
}
.team-list {
  flex-basis: calc(100% / 4 - 30px);
  margin-right: 30px;
}
.team-list:last-child {
  margin: 0;
}
.list-img {
  border-radius: 0px;
}
.team-list-section {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  padding: 30px 32px 30px 32px;
  background-color: var(--text-and-background-color);
}

.employee {
  margin-bottom: 10px;
}
.employee-profession {
  margin-bottom: 16px;
}

.network-list {
  display: flex;
  justify-content: space-between;
}
.social-network-item {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-network-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
.social-network {
  margin-right: 10px;
}
.social-network:last-child {
  margin: 0px;
}

.social-network-list:hover,
.social-network-list:focus {
  background-color: var(--accent-collor);
}
.social-network-list:hover .social-network-item,
.social-network-list:focus .social-network-item {
  fill: var(--text-and-background-color);
}
/* КОНЕЦ СЕКЦИИ НАША КОМАНДА, НАЧАЛО СЕКЦИИ НАШИ КЛИЕНТЫ */
.clients-section {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: -30px;
}
.clients-list {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-right: -30px;
}
.clients-item-list {
  display: flex;
}
.clients-ikon {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list > .clients-item-list {
  flex-basis: calc(100% / 6 - 30px);
  margin-right: 30px;
}
.clients-item-list:last-child {
  margin: 0;
}
.clients-section-list {
  margin-bottom: 30px;
}
.client-section-icon {
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  padding: 16px 32px 16px 32px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-section-icon:hover,
.client-section-icon:focus {
  border-color: var(--accent-collor);
}
.client-section-icon:hover .clients-ikon,
.client-section-icon:focus .clients-ikon {
  fill: var(--accent-collor);
}
/* КОНЕЦ СЕКЦИИ НАШИ КЛИЕНТЫ НАЧАЛО ПОДВАЛА */

.contact {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-and-background-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact:hover,
.contact:focus {
  color: var(--accent-collor);
}

.сontact-information {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.сontact-information:hover,
.сontact-information:focus {
  color: var(--accent-collor);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
  margin-left: auto;
  margin-right: auto;
}
.footer-link {
  display: block;
  margin-bottom: 20px;
  margin-right: 0;
}

.contact-list-item {
  margin-bottom: 9px;
}
.list-address-of-networks {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--text-and-background-color);
}
.footer-icon {
  display: flex;
  align-items: baseline;
}
.network-address-list {
  margin-bottom: 20px;
}

.footer-ikon-link {
  margin-left: 70px;
}
.network-list {
  display: flex;
  justify-content: space-between;
}
.footer-network-item {
  fill: var(--text-and-background-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-network-footer {
  margin-right: 10px;
}
.social-network-footer:last-child {
  margin: 0px;
}

.social-list-footer:hover,
.social-list-footer:focus {
  background-color: var(--accent-collor);
}
.social-list-footer:hover .footer-network-item,
.social-list-footer:focus .footer-network-item {
  fill: var(--text-and-background-color);
}

/* ПОДПИСАТЬСЯ */

.newsletter-subscription {
  display: block;
  margin-left: 93px;
}
.newsletter-subscription-footer {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--text-and-background-color);

}
.newsletter-subscription-footer-input {
  display: flex;
}
.input-footer {
  margin-bottom: 20px;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  color: var(--background-icon-color);
  background-color: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.input-footer::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/* КНОПКА */
.newsletter-subscription-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--text-and-background-color);
  background: var(--accent-collor);
}
.button-svg-text {
  padding-right: 10px;
}
.button-svg {
  width: 24px;
  height: 24px;
}
/* КОНЕЦ КНОПКИ */
/* КОНЕЦ СЕКЦИИ ПОДВАЛ, НАЧАЛО СЕКЦИИ ПОРТФОЛИО, КНОПКИ*/
.button-list {
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-style: none;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  color: var(--primary-text-color-theme-light);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}
.button-list:hover,
.button-list:focus {
  color: var(--text-and-background-color);
  background: #188ce8;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-section {
  padding-top: 94px;
}

.portfolio-section-list {
  display: none;
}
.portfolio-button {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-button-list {
  margin-right: 8px;
}
.portfolio-button-list:last-child {
  margin: 0;
}
.button-list {
  padding: 6px 22px 6px 22px;
}

/* КОНЕЦ СЕКЦИИ КНОПКИ, НАЧАЛО СЕКЦИИ ПРИМЕРЫ РАБОТ */

.subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color-theme-light);
}

.tagline {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color-theme-light);
}

.portfolio-section {
  padding-bottom: 94px;
}
.examples {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.examples > .example-element-works {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subtitle {
  margin-bottom: 10px;
}
.examples-img {
  background: var(--text-and-background-color);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  padding: 20px 24px 20px 24px;
  
}
.example-element-style:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* КОНЕЦ СЕКЦИИ ПРИМЕРЫ РАБОТ, КОНЕЦ СЕКЦИИ ПОРТФОЛИО */
 /* НАЧАЛО МОДЕЛЬНОГО ОКНА */

.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  background-color:var(--text-and-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
.modal-close-btn {
  position: absolute;
  content: '';
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  background: var(--text-and-background-color);
  padding: 0;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.example-element-works-img{
  position: relative;
  overflow: hidden;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: var(--accent-collor);
}
/* КОНЕЦ МОДЕЛЬНОГО ОКНА */
/* НАЧАЛО ОВЕРЛЕЙ ПОРТФОЛИО */

.element-img-overlay{
  display: block;
}

.overlay{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.55;
  color: var(--text-and-background-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px 63px 24px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.element-img-overlay:hover .overlay,
.element-img-overlay:focus .overlay{
  transform: translateY(0%);
}

/* КОНЕЦ ОВЕРЛЕЙ ПОРТФОЛИО */
/* ЧЕМ МЫ ЗАНИМАЕМСЯ */

.section-picture-name{
  position: relative;
}

.picture-name { 
position: absolute;
content: '';
bottom: 0;
left: 0;
padding: 0;
display: flex;
justify-content: center;
align-items: center;
width: 370px;
height: 70px;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
text-transform: uppercase;
color: var(--text-and-background-color);
background: rgba(47, 48, 58, 0.8);
}

/* КОНЕЦ ЧЕМ МЫ ЗАНИМАЕМСЯ */
/* НАЧАЛО ВЕРХНЕГО ПОДЧЕРКИВАНИЯ  */

.active-page{
  position: relative;

}
.active-page::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -40px;
  display: block;
  width: 100%;
  height: 4px;
  background-color:var(--accent-collor);
  border-radius: 2px;
}
/* МОДЕЛЬНОЕ ОКНО СТИЛИЗАЦИЯ  */

.contact-form-field{
position: relative;
display: block;
}
.contact-form-input{
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-input:hover,
.contact-form-input:focus {
  outline: none;
  border-color: var(--accent-collor);
}
.contact-form-section{
font-weight: 700;
font-size: 20px;
line-height: 1.15;
text-align: center;
letter-spacing: 0.03em;
}
.contact-form-text{
  display: block;
  margin-bottom: 4px;
  margin-top: 10px;
  font-size: 12px;
  line-height: 1.16;
  color: var(--secondary-text-color-theme-light);
  letter-spacing: 0.01em;
}

.contact-form-icon{
  position: absolute;
  top: 65%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-input:hover+.contact-form-icon,
.contact-form-input:focus+.contact-form-icon {
  fill: var(--accent-collor)
}

/* Комментарии  */
.contact-form-message {
  display: block;
  width: 100%;
  height: 120px;
  margin-top: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form-message:hover,
.contact-form-message:focus {
  outline: none;
  border-color: var(--accent-collor);
}
.contact-form-message::placeholder{
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
/* Комментарии  */
.contact-form-checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color-theme-light); 
}
.agreement-conditions{
 color: #2196F3;
}
/* Стилизация чекбокса */
.contact-form-checkbox-label {
  margin-bottom: 30px;
}
.contact-form-checkbox-label::before{
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  cursor: pointer;
  content: '';
  margin-right: 8px;
}

.contact-form-checkbox:checked + .contact-form-checkbox-label::before {
  background-image: url("../images/svg/icon-check.svg");
  border: var(--accent-collor);
}
.contact-form-checkbox:focus +.contact-form-checkbox-label::before {
  outline: 1px solid var(--accent-collor);
}
/* Стилизация чекбокса */
/* Визуальное скрытие  */
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Визуальное скрытие  */
/* Кнопка */
.contact-form-submit-btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-style: none;
  border-radius: 4px;
  color: var(--text-and-background-color);
  background: var(--accent-collor);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-submit-btn:hover,
.contact-form-submit-btn:focus {
  background-color: #188ce8;
}
/* Кнопка */
