.caption {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color-theme-light);
}

.section-work {
    padding-top: 94px;
    padding-bottom: 94px;
}

.text-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
}

.text-list>.list-item {
    flex-basis: calc(100% / 4 - 30px);
    margin-right: 30px;
}

.text-list>.list-item:last-child {
    margin: 0;
}
