.network-list {
    display: flex;
    justify-content: space-between;
}

.social-network-item {
    fill: var(--icon-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.social-network {
    margin-right: 10px;
}

.social-network:last-child {
    margin: 0px;
}

.social-network-list:hover,
.social-network-list:focus {
    background-color: var(--accent-collor);
}

.social-network-list:hover .social-network-item,
.social-network-list:focus .social-network-item {
    fill: var(--text-and-background-color);
}